@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562&family=Ubuntu&display=swap");


@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
}

h1, h2, h3 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

a{
	text-decoration: none;
}

a:hover {
	color: black;
}